/* CARD */ 
.card {
    width: 100%;
    /* --bg: #e8e8e8;
    --contrast: #e2e0e0;
    --grey: #93a1a1; */
    position: relative;
    padding: 9px;
    /* background-color: var(--bg); */
    background: royalblue;

 
  }
  
  .card-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;

  }
  
  .card-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
    overflow: hidden;
    width: 80%;
    height: auto;
    /* background-color: var(--contrast); */
    
    /* Content style */
    font-size: 15px;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
    font-family: monospace;
    
  }
